<form id="contact">
  <%= form_for(@contacts) do |f| %>
  <fieldset id="inputs">
    <h1>Contact Me</h1>
    <div class="name"><%= f.text_field :name, :placeholder => "name" %></div>
    <div class="email"><%= f.text_field :email, :placeholder => "email"%></div>
    <div class="description"><%= f.text_area :description, :placeholder => "description" %></div>
    <div id="submit"><%= f.submit 'Submit', :class => 'button' %></div>
  </fieldset>
  <% end %>
</form>
