<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oxygen|Ruda|Karla|Open+Sans+Condensed:300|Share' rel='stylesheet' type='text/css'>
  <title>DevWebsite</title>
  <%= stylesheet_link_tag    "application", "coderay", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">
      <div id="header" class="container_24 clearfix">
          <div id="logo" class="grid_7">
            <h1>
              <%= image_tag("logo.jpg", :alt => "logo")%>
            </h1>
          </div logo>
          <div id="nav" class="grid_17">  
            <ul>
              <li id="nav-home"><%= link_to 'Home', root_url %></li>
              <li id="nav-blog"><%= link_to 'Blog', blogs_path %></li>
              <li id="nav-portfolio"><%= link_to 'Portfolio', portfolios_path %></li>
              <li id="nav-about"><%= link_to 'About', about_path %></li>
            </ul>
          </div nav>  
        </div header>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
        <div class="spacer">
          
        </div>
    </div wrapper>
    <div id="footer">
        <div class="left">
          <h2>©Bradford & Morgan Logistics</h2>
          <h3>rstevenson542@gmail.com</h3>
        </div>
    </div footer>
</body>
</html>
